<div id="footer">
			<div id="footer-data">
				<ul>
					<li>首页</li>
					<li>公司介绍
						<p>
							<a href="#">公司简介</a>
						</p>
						<p>
							<a href="#">企业文化</a>
						</p>
						<p>
							<a href="#">行业品牌</a>
						</p>
					</li>
					<li>新闻中心
						<p>
							<a href="#">企业新闻</a>
						</p>
						<p>
							<a href="#">行业新闻</a>
						</p>
						<p>
							<a href="#">周边新闻</a>
						</p>
					</li>
					<li>产品中心
						<p>
							<a href="#">网站建设</a>
						</p>
						<p>
							<a href="#">微信公众号开发</a>
						</p>
						<p>
							<a href="#">微信小程序开发</a>
						</p>
					</li>
					<li>联系我们
						
					</li>
				</ul>
			</div>
			<p id="copyright">
				版权所有  赵刚红黑科技技术工作室
			</p>
		</div>