<#assign ctx=request.contextPath/>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/news.css" />
	</head>
	<body>
<!--------------这里是头部--------------------------------------------------->
		
<!----------------这里是中部------------------------------------------------------->		
		
		<div id="middle">	
<!----------------这里是banner区-------------->
		    <div id="banner">
				<img src="img/images/images/news-banner_02.jpg" alt="这是banner图" id="banner-jpg">
				
			</div>
<!----------------这里是中部左侧导航栏-------------->
			<div id="middle-down">
				<div id="middle-left">
					<div id="left-up">
						<span>NEWS CENTER</span>
						<P>新闻中心</P>
					</div>
					<ul>
						<li id="menu-1">
							<a href="#">企业新闻</a>
						</li>
						<li id="menu-2">
							<a href="#">行业新闻</a>
						</li>
						<li>
							<a href="#">周边新闻</a>
						</li>
					</ul>
				</div>
			
			
<!----------------这里是中部右侧简介详情-------------->
				<div id="middle-right">
					<div id="right-up">
						<p>
							<a href="index.html">首页&gt;</a>
							<span>
								<a href="#">新闻中心</a>
							</span>
						</p>
						<span></span>
					</div>
					
				
				
					<div id="right-down">
						<ul>
							<li>
								<img src="img/images/images/news-1_05.jpg" alt="这是图片" />
								<div id="news-content">
									<h1>赵刚红黑技术工作室登福布斯最受尊重企业榜 独占中国家</h1>
									<p>近日，权威财经媒体《福布斯》杂志公布2017全球最受尊重企业榜(TOP REGARDED COMPANIES LIST)，中国家居流通业第一品牌赵刚红黑技术工作室以30年持之以恒的匠心和创新精神赢得各方信任，登上全球榜第233位...
									</p>
									<a href="#" id="more">+MORE</a>
								</div>
								
							</li>
							<li>
								<img src="img/images/images/news-2_05.jpg" alt="这是图片" />
								<div id="news-content">
								
									<a href="#" >+MORE</a>
								</div>
								
							</li>
							<li>
								<img src="img/images/images/news-3_05.jpg" alt="这是图片" />
								<div id="news-content">
									
									<a href="#">+MORE</a>
								</div>
								
							</li>
							<li>
								<img src="img/images/images/news-4_05.jpg" alt="这是图片" />
								<div id="news-content">
								
									<a href="#">+MORE</a>
								</div>
								
							</li>
					
						</ul>
						<div id="page">
							<span class="page-1">
								<a href="#">上一页</a>
							</span>
							<span id="page-2">
								<a href="#">1</a>
							</span>
							<span>
								<a href="#">2</a>
							</span>
							<span >
								<a href="#">3</a>
							</span>
							<span >
								<a href="#">...</a>
							</span>
							<span class="page-1">
								<a href="#">下一页</a>
							</span>
							
						</div>
					</div>
				</div>			

			</div>
		</div>
		
<!------- footer 这里是底部-------------------------------------------------->	
		<#include "common/footer.html"/>
	</body>
</html>
